.a11y-label {
  display: inline-flex;
  gap: 0.25rem;
  font-weight: 600;
  margin-bottom: 0.375rem;
}
.a11y-required {
  color: var(--color-danger-base);
}

.a11y-helper {
  color: color-mix(in oklab, var(--color-neutral-base) 80%, black);
  font-size: 0.875rem;
  margin-top: 0.375rem;
}

.a11y-error {
  color: var(--color-danger-base);
  font-size: 0.875rem;
  margin-top: 0.375rem;
}
